node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.production.local
.env.staging.local
.env.development.local
.nyc_output
coverage
.nyc_output
.coverage
.coverage/
dist
.DS_Store
.vscode
.idea
*.log
.replit
.upm
replit.nix